<launch>

 
  <node pkg="rosbag" type="record" name="rosbag_record_cam"
       args="record -o /home/michael-brown2/Desktop/FA19_Robot/ /camera2/usb_cam2/image_raw/compressed /camera1/usb_cam1/image_raw/compressed /measured_fish /fishgantry/commandpose /fishgantry/robotpose /fishgantry/restingpose /fishgantry/tailpose /fishtracker/measuredfishpose  /tf  --split --duration=10m" />
  
 </launch>
